.jumbotron {
  height: auto;
  color: #ffffff;
  background: none;
  padding: 0rem 2rem;
  margin-bottom: 3%;
}
.video {
  text-align: center;
}

.btn-primary {
  background-color: mediumaquamarine;
  border-color: mediumaquamarine;
}
