<div *ngIf="!name; else forminfo">


        <div class="form-group">
            <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)" class="form-inline-right" >
              <label for="pseudo">
                <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
                  <input type= "text" class="txt" id="Name" placeholder="Pseudo" [(ngModel)]="name" >  </label>
                <span> Your Pseudo {{ name }}</span>

            <button  type="submit" class="btn" value={{ btnText}} (click)="addPseudo" [disabled]="!rForm.valid">Submit</button>
          </form>
    </div>
  </div>
